<div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h2>Registrate!</h2>
    <div class="container">
      <label for="email"><b>Email</b></label>
      <input
        id="email"
        formControlName="email"
        type="text"
        placeholder="Enter email"
      />

      <label for="uname"><b>User name</b></label>
      <input
        id="uname"
        formControlName="username"
        type="text"
        placeholder="Enter user name"
        name="psw"
      />

      <label for="password"><b>Password</b></label>
      <input
        id="password"
        formControlName="password"
        type="password"
        name="password"
        placeholder="Password"
        value=""
      />
      <label for="checkpassword"><b>check Password</b></label>
      <input
        id="checkpassword"
        formControlName="checkPassword"
        type="password"
        name="checkpassword"
        placeholder="retype password"
        value=""
      />

      <label>
        <input formControlName="admin" type="checkbox" name="remember" />is
        Admin?
      </label>

      <button type="submit">Register</button>
    </div>
  </form>
</div>
