<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <h1>Tickets creados</h1>
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    @if (tickets_owned.length > 0) {
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Responsable</th>
          <th scope="col" class="px-6 py-3">Categoria</th>
          <th scope="col" class="px-6 py-3">Contenido</th>
          <th scope="col" class="px-6 py-3">Prioridad</th>
          <th scope="col" class="px-6 py-3">estado</th>
        </tr>
      </thead>
      <tbody>
        @for (ticket of tickets_owned; track ticket.ticketID) {
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ ticket.responsable }}
            </th>
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ ticket.categoria }}
            </th>
            <td class="px-6 py-4">{{ ticket.contenido }}</td>
            <td class="px-6 py-4">{{ ticket.prioridad }}</td>
            <td class="px-6 py-4">{{ ticket.status }}</td>
          </tr>
        }
      </tbody>
    } @else {
      <h1>no tienes tickets pendientes</h1>
    }
  </table>
</div>

<div class="mb-10 relative overflow-x-auto shadow-md sm:rounded-lg mt-10">
  <h1>Tickets Pendientes</h1>
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Autor</th>
        <th scope="col" class="px-6 py-3">Categoria</th>
        <th scope="col" class="px-6 py-3">Contenido</th>
        <th scope="col" class="px-6 py-3">Prioridad</th>
        <th scope="col" class="">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @defer {
        @for (ticket of tickets_pending; track ticket.ticketID) {
          @if (ticket.status != "Ticket cerrado") {
            <tr
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
            >
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                {{ ticket.autor }}
              </th>

              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                {{ ticket.categoria }}
              </th>
              <td class="px-6 py-4">{{ ticket.contenido }}</td>
              <td class="px-6 py-4">{{ ticket.prioridad }}</td>
              <button
                type="button"
                class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800"
                (click)="closeTicket(ticket.ticketID)"
              >
                Cerrar Ticket
              </button>
            </tr>
          }
        }
      }
    </tbody>
  </table>
</div>
