<div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="imgcontainer">
      <img src="https://github.com/Klithik.png" alt="Avatar" class="avatar" />
    </div>

    <div class="container">
      <label for="uemail"><b>Email</b></label>
      <input
        id="uemail"
        type="text"
        placeholder="Enter email"
        formControlName="email"
      />

      <label for="psw"><b>Password</b></label>
      <input
        id="psw"
        type="password"
        placeholder="Enter Password"
        formControlName="password"
      />

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember" /> Remember me
      </label>
    </div>

    <div class="container" style="background-color: #f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
